<div class="mt-3">
  <div class="d-flex justify-content-end">
    <a class="btn btn-primary" routerLink="add-semester"> <i class="fa fa-plus"></i> اضافة فصل دراسي</a>
  </div>
  <h3>الفصول الدراسية</h3>
  <table class="table mt-4 table-sm table-hover " data-aos="fade-up" data-aos-duration="3000">
    <thead>
      <tr>
        <th> الترتيب </th>
        <th> الدولة </th>
        <th> الاسم </th>
        <th> تاريخ البداية </th>
        <th> تاريخ النهاية </th>

        <!-- <th> ايقاف / تفعيل </th> -->
        <th> تعديل </th>
        <th> حذف </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let semester of listOfSemesters; index as i">
        <td> {{semester.index}} </td>
        <td> {{semester.countryName}} </td>
        <td> {{semester.semesterName}} </td>
        <td> {{semester.startDate.slice(0,10)}} </td>
        <td> {{semester.endDate.slice(0,10)}} </td>
        <!-- <td>
        <div class='switch-button'>
          <input id="premiumSubscription_{{student.studentId}}" name='lang' (change)="toggleStudenPremium(student.studentId)"
            type='checkbox' [checked]="student.premiumSubscription ? true : false " />
          <label for="premiumSubscription_{{student.studentId}}"></label>
        </div>
      </td> -->
        <td>
          <a class="btn btn-sm btn-outline-primary" ngbTooltip="تعديل الفصل الدراسي"
            routerLink="edit-semester/{{semester.semesterId}}"> <i class="fa fa-edit"></i> </a>
        </td>

        <td>
          <button class="btn btn-sm btn-outline-danger" ngbTooltip="حذف الفصل الدراسي" (click)="deleteQuestion(semester.semesterId)"> <i class="fa fa-trash-alt"></i>
          </button>
        </td>


      </tr>

    </tbody>
  </table>
</div>
