<ng-container *ngIf="!isLoading ; then view_table ; else loading_skeleton "></ng-container>

<ng-template #view_table>
  <div class="d-flex justify-content-end form-group">
    <!-- *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]" -->
    <button  class="btn btn-primary" (click)="openAddModal(AddModal)"> <i class="fa fa-plus"></i>
      اضافة مادة
    </button>
  </div>
  <div>
    <form [formGroup]="filterSubjectsForm">
      <div class="row">
        <!-- <div class="col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect01"> الدولة</label>
            </div>
            <select formControlName="countryId" class="custom-select" id="inputGroupSelect01"
              (change)="filterStagesAndGradesByCountry($event.target.value)">
              <option selected [ngValue]="null"> اختر دولة</option>
              <option *ngFor="let country of countries" [value]="country.id"> {{country.name}}
              </option>
            </select>
          </div>
        </div> -->

        <!-- <div class="col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect01"> المجموعات</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" formControlName="sectionId"
              (change)="filtrationSubjects()">
              <option selected [ngValue]="null"> كل المجموعات </option>
              <option *ngFor="let section of listOfSections" [value]="section.sectionId"> {{section.sectionName}}
              </option>
            </select>
          </div>
        </div> -->
        <div class="col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect01">المرحلة</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" formControlName="stageId"
              (change)="filtrationSubjects()">
              <option selected [ngValue]="null"> الكل </option>
              <option *ngFor="let stage of listOfStages" [value]="stage.stageId"> {{stage.stageName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect01"> الصف</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" formControlName="gradeId"
              (change)="filtrationSubjects()">
              <option selected [ngValue]="null"> كل الصفوف </option>
              <option *ngFor="let grade of listOfGrades" [value]="grade.gradeId"> {{grade.gradeName}} </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect01"> حالة التفعيل</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" formControlName="isActive"
              (change)="filtrationSubjects()">
              <option selected [ngValue]="null"> الكل </option>
              <option [ngValue]="true"> مفعل </option>
              <option [ngValue]="false"> غير مفعل </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect01">اسم المادة</label>
            </div>
            <input class="form-control" id="inputGroupSelect01" formControlName="name" (keyup)="filtrationSubjects()" />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row" hidden>
    <div class="col-md-4" *ngFor="let subject of subjectsData.subjects; index as i">
      <div class="card" style="width: 18rem;">
        <img *ngIf="subject.subjectImage" [src]="SITE_URL+subject.subjectImage" class="card-img-top" alt="...">
        <div class="card-body">
          <div class='d-flex justify-content-end'>
            <!-- <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary  remove-after" id="dropdownBasic1" ngbDropdownToggle> <i class="fa fa-ellipsis-v"></i> </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class='text-right'>
                <button ngbDropdownItem>الدروس</button>
                <button ngbDropdownItem>تعديل</button>
                <button ngbDropdownItem>حذف</button>
              </div>
            </div> -->
          </div>
          <h5 class="card-title"> اسم المادة : {{subject.subjectName}} </h5>
          <p>المجموعة : {{subject.sectionName}} </p>
          <p>المرحلة الدراسية : {{subject.stageName}}</p>
          <p>الصف الدراسي : {{subject.gradeName}}</p>
        </div>
      </div>
    </div>
  </div>

  <table class="table mt-4 table-sm table-hover " >
    <thead>
      <tr>
        <th scope="col">المرحلة الدراسية</th>
        <th scope="col">الصف الدراسي</th>
        <th scope="col">المادة</th>
        <th scope="col"> الوحدات </th>
        <th scope="col"> بنك الأسئلة </th>
        <th *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]" scope="col">تفعيل </th>
        <th *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]" scope="col">تعديل</th>
        <th *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]" scope="col">حذف</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subjectsData.subjects; index as i">
        <td> {{ subject.stageName }} </td>
        <td> {{ subject.gradeName }} </td>
        <td> {{ subject.subjectName }} </td>
        <td>
          <div>
          <a class='btn btn-outline-info btn-sm' (click)="setCurrentSubjectTitle(subject.subjectName);" routerLink="{{subject.subjectId}}/units"
            > <i class="icofont-paper"></i> </a>
            <!-- *ngIf="subject.sectionId === SectionID.PUBLIC" -->
          </div>
          <!-- <button class='btn btn-outline-info btn-sm' disabled *ngIf="subject.sectionId !== SectionID.PUBLIC"> <i
              class="icofont-paper"></i> </button> -->
        </td>
        <td>
          <div>
            <a class='btn btn-outline-info btn-sm' (click)="setCurrentSubjectTitle(subject.subjectName);" routerLink="{{subject.subjectId}}/questions-bank"
              *ngIf="subject.sectionId === SectionID.PUBLIC"> <i class="icofont-paper"></i> </a>
            </div>
            <button class='btn btn-outline-info btn-sm' disabled *ngIf="subject.sectionId !== SectionID.PUBLIC"> <i
                class="icofont-paper"></i> </button>
        </td>
        <td *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]">
          <div class='switch-button'>
            <input id="{{subject.subjectId}}" name='lang' (change)="toggleSubjectActivation(subject.subjectId)"
              type='checkbox' [checked]="subject.isActive ? true : false " />
            <label for="{{subject.subjectId}}"></label>
          </div>
        </td>
        <td *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]">
          <!-- (click)="open(EditModal, stage.stageId)" -->
          <button class="btn btn-outline-primary btn-sm" (click)="open(EditModal, subject.subjectId)"> <i
              class="fa fa-edit"></i>
          </button>
        </td>
        <td *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]">
          <!--  -->
          <button class="btn btn-outline-danger btn-sm" [swal]="ConfirmSwal"
            (click)="deleteSubjectId = subject.subjectId"> <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center align-items-center">
    <ngb-pagination [collectionSize]="subjectsData.rowCount" [(page)]="pagination.pageNo" [size]="pagination.pageSize"
    [maxSize]="3" [boundaryLinks]="true" (pageChange)="filtrationSubjects()"></ngb-pagination>
  </div>


</ng-template>

<ng-template #loading_skeleton>
  <ngx-skeleton-loader count="2" appearance="Line" [theme]="{
        'border-radius': '5px',
        height: '40px',
        'background-color': '#efefef',
        width: '130px',
        border: '1px solid white'
      }"></ngx-skeleton-loader>

  <div class="item">
    <ngx-skeleton-loader count="5" appearance="Line" [theme]="{
            'border-radius': '5px',
            height: '30px',
            'background-color': '#efefef',
            border: '1px solid white'
          }"></ngx-skeleton-loader>
  </div>
</ng-template>



<ng-template #AddModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> اضافة مادة </h4>
  </div>
  <div class="modal-body" >
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect01">المرحلة</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01"
              (change)="newSubject.stageId = $event.target.value ; getGradesByStageId($event.target.value);selectStage($event.target.value, i) ">
              <option selected disabled> اختر مرحلة </option>
              <option *ngFor="let stage of listOfStages; let i = index" [value]="stage.stageId"> {{stage.stageName}} </option>
            </select>
          </div>
    </div>
    </div>
      <div class="row">

        <div class="col-md-6">
          <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect01">الصف الدراسي</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" (change)="newSubject.gradeId = $event.target.value "
          >
          <option selected> الصف الدراسي </option>
          <option *ngFor="let grade of listOfGradesByStageId" [value]="grade.gradeId"> {{grade.gradeName}}
          </option>
        </select>
      </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon1">اسم المادة</span>
            </div>
            <input type="text" class="form-control" placeholder="اكتب اسم المادة" aria-label="Username"
              aria-describedby="basic-addon1" (keyup)="newSubject.subjectName = $event.target.value">
          </div>
        </div>
      </div>

    <div class="row">

      <div class="col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">رقم المادة</span>
          </div>
          <input type="number" class="form-control" placeholder="اكتب رقم المادة" aria-label="Username"
            aria-describedby="basic-addon1" (keyup)="newSubject.index = +$event.target.value">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">صورة المادة</span>
          </div>
          <input type="file" class="form-control" placeholder="اكتب اسم المادة" aria-label="Username"
            aria-describedby="basic-addon1" (change)="uploadFile($event.target.files)">
        </div>
        <a>  <i class="fa fa-eye m-2" *ngIf="subjectImage" (click)="previewFile()" ></i></a>
      </div>
    </div>

    <div class="row">
      <div *ngIf="stageName == 'الابتدائيه' ||  stageName == 'الثانويه' || stageName == 'الاعداديه'" class="col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span  id="basic-addon1">نوع المعهد</span>
          </div>
            <ul class="list-group rounded p-2 w-100">
              <li style="list-style: none; border-bottom: 1px solid rgb(158, 158, 158);padding: 5px 0 5px 0;" *ngFor="let i of subjectSection" (change)="chooseSubjectSection(i.sectionId)" [value]="i.sectionId" ><input  type="checkbox" class=" mx-2">{{i.sectionName}}</li>
            </ul>
        </div>
      </div>
      <div *ngIf="stageName == 'الثانويه' || stageName == 'الاعداديه'" class="col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span  id="basic-addon1">المذهب</span>
          </div>
            <ul class="list-group rounded p-2 w-100">
              <li style="list-style: none; border-bottom: 1px solid rgb(158, 158, 158);padding: 5px 0 5px 0;" *ngFor="let i of subjectBranch" (change)="chooseSubjectBranch(i.id)" [value]="i.id" ><input  type="checkbox" class=" mx-2">{{i.name}}</li>
            </ul>
        </div>
      </div>
      <div *ngIf=" stageName == 'الثانويه' " class="col-md-3">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span  id="basic-addon1">الشعبه</span>
          </div>
            <ul class="list-group rounded p-2 w-100">
              <li style="list-style: none; border-bottom: 1px solid rgb(158, 158, 158);padding: 5px 0 5px 0;" *ngFor="let i of subjectMazhab" (change)="chooseSubjectMazhab(i.id)" [value]="i.id" ><input  type="checkbox" class=" mx-2">{{i.name}}</li>
            </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="createSubject()" [disabled]="!newSubject"> <i
        class="fa fa-save"></i>
      حفظ</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('')"> <i class="fa fa-times-circle"></i>
      إلغاء</button>
  </div>
</ng-template>


<ng-template #EditModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> تعديل مادة </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect01">المرحلة</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01"
          (change)="upDateSubject.stageId = $event.target.value ; getGradesByStageId($event.target.value) ">
          <option selected disabled> اختر مرحلة </option>
          <option *ngFor="let stage of listOfStages" [value]="stage.stageId"
            [selected]="stage.stageId === upDateSubject.stageId"> {{stage.stageName}} </option>
        </select>
      </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect01">الصف الدراسي</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" (change)="upDateSubject.gradeId = $event.target.value ">
          <option selected> الصف الدراسي </option>
          <option *ngFor="let grade of listOfGrades" [value]="grade.gradeId"
            [selected]="grade.gradeId === upDateSubject.gradeId"> {{grade.gradeName}} </option>
        </select>
      </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon1">اسم المادة</span>
        </div>
        <input type="text" class="form-control" placeholder="اكتب اسم المادة" aria-label="Username"
          [value]="upDateSubject.subjectName" aria-describedby="basic-addon1"
          (keyup)="upDateSubject.subjectName = $event.target.value">
      </div>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon1">رقم المادة</span>
        </div>
        <input type="text" class="form-control" placeholder="اكتب المادة المادة" aria-label="Username"
          [value]="upDateSubject.index" aria-describedby="basic-addon1"
          (keyup)="upDateSubject.index = $event.target.value">
      </div>
          </div>
          <div class="col">
            <div class=" mb-3">
        <div class="input-group">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">صورة المادة</span>
          </div>
          <input type="file" class="form-control" accept="image/png , image/jpeg , image/jpg"
            placeholder="اكتب اسم المادة" aria-label="Username" aria-describedby="basic-addon1"
            (change)="uploadFile($event.target.files)">
        </div>

        <img *ngIf="upDateSubject.subjectImage"
          [src]="SITE_URL+upDateSubject.subjectImage" width="100px" height="100px" />
        <span class='text-danger' *ngIf="!upDateSubject.subjectImage"> لا يوجد صورة </span>
      </div>
          </div>
      </div>
      <div class="row">
        <div *ngIf="stageName == 'الابتدائيه' ||  stageName == 'الثانويه' || stageName == 'الاعداديه'" class="col-md-4">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span  id="basic-addon1">نوع المعهد</span>
            </div>
              <ul class="list-group rounded p-2 w-100">
                <li style="list-style: none; border-bottom: 1px solid rgb(158, 158, 158);padding: 5px 0 5px 0;" *ngFor="let section of subjectSection" (change)="chooseSubjectSection(section.sectionId)" [value]="upDateSubject.sectionId" ><input [checked]="section.sectionId == upDateSubject.sectionId" type="checkbox" class=" mx-2">{{section.sectionName}}</li>
              </ul>
          </div>
        </div>
        <div *ngIf="stageName == 'الثانويه' || stageName == 'الاعداديه'" class="col-md-4">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span  id="basic-addon1">المذهب</span>
            </div>
              <ul class="list-group rounded p-2 w-100">
                <li style="list-style: none; border-bottom: 1px solid rgb(158, 158, 158);padding: 5px 0 5px 0;" *ngFor="let branch of subjectBranch" (change)="chooseSubjectBranch(branch.id)" [value]="branch.id" ><input type="checkbox" class=" mx-2">{{branch.name}}</li>
              </ul>
          </div>
        </div>
        <div *ngIf=" stageName == 'الثانويه' " class="col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span  id="basic-addon1">الشعبه</span>
            </div>
              <ul class="list-group rounded p-2 w-100">
                <li style="list-style: none; border-bottom: 1px solid rgb(158, 158, 158);padding: 5px 0 5px 0;" *ngFor="let mazhab of subjectMazhab" (change)="chooseSubjectMazhab(mazhab.id)" [value]="mazhab.id" ><input  type="checkbox" class=" mx-2">{{mazhab.name}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="editSubject()" [disabled]="!newSubject"> <i
        class="fa fa-save"></i>
      حفظ</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('')"> <i class="fa fa-times-circle"></i>
      إلغاء</button>
  </div>
</ng-template>

<!-- Success Modal Swal -->
<swal #SuccessSwal title="عملية ناجحة" icon="success" [showConfirmButton]="true" [confirmButtonText]="'حسناً'"
  [confirmButtonColor]="'#28a745'" class="swal-modal">
</swal>


<!-- Confirm Delete Stage Modal Swal -->
<swal #ConfirmSwal title="انتبه" [text]="'هل انت متأكد من حذف هذه المادة'" icon="warning" [showConfirmButton]="true"
  [confirmButtonText]="'حسناً'" [confirmButtonColor]="'#28a745'" [showCancelButton]="true" [cancelButtonText]="'إالغاء'"
  class="swal-modal" (confirm)="deleteSubject()">
</swal>
