<div class="container-fluid mt-4">
  <h3 style="color: #40514e;"> الصفحة الرئيسية </h3>
  <div class="row mt-4" *RoleAction="[RolesEnum.SUPER_ADMIN]">
    <div class="col-md-3">
      <a href="Admin/dashboard/reports">
      <div class="card dashboard-card">
        <div class="card-body">
          <i class="icofont-files-stack"></i>
          <p class='count'> {{reportData.request}} </p>
          <p class='title'> إجمالي الطلبات </p>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-3">
      <div class="card dashboard-card">
        <div class="card-body">
          <i class="icofont-check-circled"></i>
          <p class='count'> {{reportData.repliedRequest}} </p>
          <p class='title'>طلبات تمت الاجابة عنها</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card dashboard-card">
        <div class="card-body">
          <i class="icofont-clock-time"></i>
          <p class='count'> {{reportData.repliedInTimeRequest}} </p>
          <p class='title'> طلبات تمت الاجابة عنها خلال ساعة </p>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="card dashboard-card">
        <div class="card-body">
          <i class="icofont-error"></i>
          <p class='count'> {{reportData.notRepliedRequest}} </p>
          <p class='title'> طلبات لم تتم الاجابة عنها </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *RoleAction="[RolesEnum.SUPER_ADMIN]">
    <div class="col-md-3">
      <a href="Admin/dashboard/section">
      <div class="card dashboard-card">
        <div class="card-body">
          <i class="icofont-certificate"></i>

          <p class='count'> {{reportData.section}} </p>
          <p class='title'> المجموعات </p>
        </div>

      </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="Admin/dashboard/stages">
      <div class="card dashboard-card">
        <div class="card-body">
          <i class="icofont-instrument"></i>
          <p class='count'> {{reportData.stage}} </p>
          <p class='title'> المراحل </p>
        </div>
      </div>
    </a>
    </div>

    <div class="col-md-3">

<a href="Admin/dashboard/grades">
     <div class="card dashboard-card">
        <div class="card-body">
          <i class="icofont-education"></i>
          <p class='count'> {{reportData.grade}} </p>
          <p class='title'> الصفوف </p>
        </div>
      </div>
    </a>
    </div>

    <div class="col-md-3">
      <div class="card dashboard-card">
        <div class="card-body">
          <a href="Admin/dashboard/subjects">
          <i class="icofont-book-alt"></i>
          <p class='count'> {{reportData.subject}} </p>
          <p class='title'> المواد </p>
        </a>
        </div>
      </div>
    </div>



    <div class="col-md-3">
      <a href="Admin/dashboard/students">
      <div class="card dashboard-card">
        <div class="card-body">
          <i class="icofont-group-students"></i>
          <p class='count'> {{reportData.student}} </p>
          <p class='title'> الطلاب </p>
        </div>
      </div>
    </a>
    </div>

    <div class="col-md-3">
      <a href="Admin/dashboard/teachers">
      <div class="card dashboard-card">
        <div class="card-body">
          <i class="icofont-teacher"></i>
          <p class='count'> {{reportData.teacher}} </p>
          <p class='title'> المعلمين </p>
        </div>

      </div>
    </a>
    </div>
  </div>
</div>




<!-- <app-teacher-ammounting *RoleAction="[RolesEnum.SUPER_ADMIN]" ></app-teacher-ammounting> -->
