
<div class="mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/Admin/dashboard/subjects']">المواد</a></li>
      <li class="breadcrumb-item active" aria-current="page">الوحدات</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between">
    <h4>{{subjectName}} </h4>
    <a *TeacherPermession="permessionHelper.getPermession(subjectId,modules.Units,permessionHelper.Add)" class="btn btn-primary" routerLink="add-unit">
      <i class="fa fa-plus"></i>
      إضافة وحدة
    </a>
    <a *RoleAction="[ROLES.SUPER_ADMIN,ROLES.SUBJECTS]" class="btn btn-primary" routerLink="add-unit">
      <i class="fa fa-plus"></i>
      إضافة وحدة
    </a>
  </div>
</div>
<div class='col-md-2 mt-3'>
  <label> الفصل الدراسي </label>
  <select class='form-control form-control-sm' [(ngModel)]="semesterId" (change)="getUnits()">
    <option [ngValue]="null"> اختر الفصل </option>
    <option *ngFor="let s of listOfSemesters" [value]="s.semesterId" > {{s.semesterName}} </option>
  </select>
</div>
<table class="table mt-4 table-sm table-hover ">
  <thead>
    <tr>
      <th scope="col">الترتيب</th>
      <th scope="col"> الفصل الدراسي</th>
      <th scope="col">الوحدة</th>
      <th *TeacherPermession="permessionHelper.getPermession(subjectId,modules.Units,permessionHelper.Update)" scope="col"> تفعيل </th>
      <th *RoleAction="[ROLES.SUPER_ADMIN,ROLES.SUBJECTS]" scope="col"> تفعيل </th>
      <th scope="col"> الدروس </th>
      <ng-container *TeacherPermession="permessionHelper.getPermession(subjectId,modules.Units,permessionHelper.Update)" >
      <th  scope="col">تعديل</th>
      <th  scope="col">حذف</th>
    </ng-container>
      <ng-container *RoleAction="[ROLES.SUPER_ADMIN,ROLES.SUBJECTS]" >
      <th  scope="col">تعديل</th>
      <th  scope="col">حذف</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unit of listOfUnits; index as i">
      <td>
        {{unit.index}}
      </td>
      <td> {{unit.semesterName}} </td>
      <td>
        {{ unit.unitName }}
      </td>

      <td *TeacherPermession="permessionHelper.getPermession(subjectId,modules.Units,permessionHelper.Update)">
        <div class='switch-button'>
          <input id="{{unit.unitId}}" name='lang'
              type='checkbox'
              (change)="toggleActive(unit.unitId)"
            [checked]="unit.isActive" />
          <label for="{{unit.unitId}}"></label>
        </div>
      </td>
      <td *RoleAction="[ROLES.SUPER_ADMIN,ROLES.SUBJECTS]">
        <div class='switch-button'>
          <input id="{{unit.unitId}}" name='lang'
              type='checkbox'
              (change)="toggleActive(unit.unitId)"
            [checked]="unit.isActive" />
          <label for="{{unit.unitId}}"></label>
        </div>
      </td>
      <td >
          <a class="btn btn-outline-info btn-sm" (click)="setUnitName(unit.unitName);" routerLink="{{unit.unitId}}/lessons" >
            <i class="icofont-paper"></i>
          </a>
        </td>
        <ng-container *TeacherPermession="permessionHelper.getPermession(subjectId,modules.Units,permessionHelper.Delete)">
      <td >
        <a class="btn btn-outline-primary btn-sm" routerLink="edit-unit/{{unit.unitId}}">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </td>
      <td >
        <button  class="btn btn-outline-danger btn-sm" (click)="warningDeleting(unit.unitId)"> <i
            class="fa fa-trash-alt"></i>
        </button>
      </td>
    </ng-container>
      <ng-container *RoleAction="[ROLES.SUPER_ADMIN,ROLES.SUBJECTS]">
      <td >
        <a class="btn btn-outline-primary btn-sm" routerLink="edit-unit/{{unit.unitId}}">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </td>
      <td >
        <button  class="btn btn-outline-danger btn-sm" (click)="warningDeleting(unit.unitId)"> <i
            class="fa fa-trash-alt"></i>
        </button>
      </td>
    </ng-container>
    </tr>
  </tbody>
</table>
