<div class="modal-header ">
  <h4 class="modal-title  " id="modal-basic-title"> تغيير كلمة مرور المعلم </h4>
</div>
<div class="modal-body">
  <div class="input-group mb-3">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2"> <i class="fa fa-lock"></i> </span>
    </div>
    <input type="password" class="form-control" placeholder="كملة المرور الجديدة" aria-label="Recipient's username"
      aria-describedby="basic-addon2" (keyup)="newPassword = $event.target.value" >
  </div>
  <small id="emailHelp" class="form-text text-muted"  > كلمة المرور يجب ان تحتوي على الاقل 6 من الاحرف او الارقام او الرموز </small>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" [disabled]="newPassword.length < 6" (click)="resetTeacherPasswod()"> <i class="fa fa-save"></i>
    حفظ
  </button>
  <button type="button" class="btn btn-outline-danger" (click)="modal.close('')">
    <i class="fa fa-times-circle"></i> إلغاء
  </button>
</div>









<!-- Success Modal Swal -->
<swal #SuccessSwal title="عملية ناجحة" icon="success" [showConfirmButton]="true" [confirmButtonText]="'حسناً'"
  [confirmButtonColor]="'#28a745'" class="swal-modal">
</swal>
